html {
  background: url(../img/ping-pong.jpg) no-repeat center center fixed;
  background-size: cover;
}

body {
  background: transparent !important;
  text-align: center;
  color: white;
}
h1 {
  font-size: 60px;
}
h1, h3, h4, li {
  text-shadow: 2px 2px 1px #1e1e1e;
}

p {
  color: #001834;
}

label {
  color: #d9534f;
  text-shadow: 1px 1px 1px #1e1e1e;
}

input {
  height: 46px;
  border: 1px solid #d9534f;
  border-radius: 5px;
}

form {
  margin-top: 30px;
  color: #282C34;
}

ul {
  list-style-type: none;
  font-size: 20px;
  padding-right: 10%;
}

li:first-child{
  display: none;
}

li {
  border-bottom: 1px solid #001834;
  margin-top: 6px;
  padding-bottom: 4px;
  padding-right: 8%;
}

.rules {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.6);;
}

.container {
  margin-top: 30px;
}

#results {
  display: none;
  padding: 20px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.6);;
}
